<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ユーザーID %>
    <%= form.text_field :user_id, id: :entry_user_id, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :体重 %>
    <%= form.number_field :weight, id: :entry_weight %>
  </div>

  <div class="field">
    <%= form.label :身長 %>
    <%= form.number_field :height, id: :entry_height %>
  </div>

  <div class="field">
    <%= form.label :運動種類 %>
    <%= form.select :ex_type_1,[["ヨガ","ヨガ"],["ランニング","ランニング"],["ウォーキング","ウォーキング"],["サイクリング","サイクリング"],["縄跳び","縄跳び"],["入浴","入浴"],["掃除","掃除"],["足踏み","足踏み"],["TV体操","TV体操"],["バレー","バレー"],["テニス","テニス"],["水泳","水泳"],["バドミントン","バドミントン"],["ゴルフ","ゴルフ"]],include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= form.label :運動時間 %>
    <%= form.select :ex_time_1,[["30分","1"],["1時間","2"],["1時間30分","3"],["2時間","4"],["2時間30分","5"],["3時間","6"]],include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= form.label :運動種類 %>
    <%= form.select :ex_type_2,[["ヨガ","ヨガ"],["ランニング","ランニング"],["ウォーキング","ウォーキング"],["サイクリング","サイクリング"],["縄跳び","縄跳び"],["入浴","入浴"],["掃除","掃除"],["足踏み","足踏み"],["TV体操","TV体操"],["バレー","バレー"],["テニス","テニス"],["水泳","水泳"],["バドミントン","バドミントン"],["ゴルフ","ゴルフ"]],include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= form.label :運動時間 %>
    <%= form.select :ex_time_2,[["30分","1"],["1時間","2"],["1時間30分","3"],["2時間","4"],["2時間30分","5"],["3時間","6"]],include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= form.label :運動種類 %>
    <%= form.select :ex_type_3,[["ヨガ","ヨガ"],["ランニング","ランニング"],["ウォーキング","ウォーキング"],["サイクリング","サイクリング"],["縄跳び","縄跳び"],["入浴","入浴"],["掃除","掃除"],["足踏み","足踏み"],["TV体操","TV体操"],["バレー","バレー"],["テニス","テニス"],["水泳","水泳"],["バドミントン","バドミントン"],["ゴルフ","ゴルフ"]],include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= form.label :運動時間 %>
    <%= form.select :ex_time_3,[["30分","1"],["1時間","2"],["1時間30分","3"],["2時間","4"],["2時間30分","5"],["3時間","6"]],include_blank: "選択してください" %>
  </div>

  <div class="field" style="display: inline-block;">
    <%= form.label :朝食 %>
    <%= form.check_box :meal_asa, id: :entry_meal_asa %>
  </div>

  <div class="field" style="display: inline-block;">
    <%= form.label :昼食 %>
    <%= form.check_box :meal_hiru, id: :entry_meal_hiru %>
  </div>

  <div class="field" style="display: inline-block;">
    <%= form.label :夕食 %>
    <%= form.check_box :meal_ban, id: :entry_meal_ban %>
  </div>

  <div class="field" style="display: inline-block;">
    <%= form.label :間食 %>
    <%= form.check_box :snack, id: :entry_snack %>
  </div>

  <div class="field">
    <%= form.label :食べたもの %>
    <%= form.text_area :snack_memo, id: :entry_snack_memo %>
  </div>

  <div class="field">
    <%= form.label :体調 %>
    <label><%= form.radio_button :condition, 0 %> 良い </label>
    <label><%= form.radio_button :condition, 1 %> ふつう </label>
    <label><%= form.radio_button :condition, 2 %> 悪い </label>
  </div>

  <div class="field">
    <%= form.label :日付 %>
    <%= date_field_tag :day, id: :entry_day %>
  </div>

  <div class="field">
    <%= form.label :メモ %>
    <%= form.text_area :memo, id: :entry_memo %>
  </div>

  <div class="actions">
    <%= form.submit '新規登録', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
