<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @entry.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @entry.height %>
</p>

<p>
  <strong>Ex type 1:</strong>
  <%= @entry.ex_type_1 %>
</p>

<p>
  <strong>Ex time 1:</strong>
  <%= @entry.ex_time_1 %>
</p>

<p>
  <strong>Ex amount 1:</strong>
  <%= @entry.ex_amount_1 %>
</p>

<p>
  <strong>Ex type 2:</strong>
  <%= @entry.ex_type_2 %>
</p>

<p>
  <strong>Ex time 2:</strong>
  <%= @entry.ex_time_2 %>
</p>

<p>
  <strong>Ex amount 2:</strong>
  <%= @entry.ex_amount_2 %>
</p>

<p>
  <strong>Ex type 3:</strong>
  <%= @entry.ex_type_3 %>
</p>

<p>
  <strong>Ex time 3:</strong>
  <%= @entry.ex_time_3 %>
</p>

<p>
  <strong>Ex amount 3:</strong>
  <%= @entry.ex_amount_3 %>
</p>

<p>
  <strong>Meal asa:</strong>
  <%= @entry.meal_asa %>
</p>

<p>
  <strong>Meal hiru:</strong>
  <%= @entry.meal_hiru %>
</p>

<p>
  <strong>Meal ban:</strong>
  <%= @entry.meal_ban %>
</p>

<p>
  <strong>Snack:</strong>
  <%= @entry.snack %>
</p>

<p>
  <strong>Snack memo:</strong>
  <%= @entry.snack_memo %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @entry.condition %>
</p>

<p>
  <strong>Day:</strong>
  <%= @entry.day %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @entry.memo %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
