<h1>ログイン画面</h1>

<h3><font color="red"><%= flash[:alert]  %></font><h3>

<%= form_tag logins_login_check_path do %>
<table id="login_form">
  <tr>
    <td><%= label_tag :name, 'ユーザー名' %></td>
    <td><%= text_field_tag :user_id, params[:user_id] %></td>
  </tr>

  <tr>
    <td><%= label_tag :pass, 'パスワード' %></td>
    <td><%= password_field_tag :pass, params[:pass] %></td>
  </tr>

  <tr>
    <td><%= submit_tag "ログイン" %></td>
  </tr>

</table>
<% end %>