<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @authority == 0 %>
    <div class="field">
      <%= form.label 'パスワード' %>
      <%= form.password_field :password, id: :user_password %>
    </div>

    <div class="field">
      <%= form.label 'パスワード確認' %>
      <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
    </div>
  <% end %>

  <% if @authority == 1 %>
    <div class="field">
      <%= form.label 'ユーザーID' %>
      <%= form.text_field :user_id, id: :user_user_id %>
    </div>

    <div class="field">
      <%= form.label 'パスワード' %>
      <%= form.password_field :password, id: :user_password %>
    </div>

    <div class="field">
      <%= form.label 'パスワード確認' %>
      <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
    </div>

    <div class="field">
      <%= form.label '名前' %>
      <%= form.text_field :name, id: :user_name %>
    </div>

    <div class="field">
      <%= form.label '権限' %>
      <label><%= form.radio_button :authority, 0 %> 生徒 </label>
      <label><%= form.radio_button :authority, 1 %> 先生 </label>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit '登録' %>
  </div>
<% end %>
