<h1>カレンダー</h1>
<%= link_to 'ホーム','top' %>

<%= link_to '登録一覧',entries_path %>

<%= link_to '設定',users_path %>

<div class="container">
  <div class="sidebar_l">
  <div class="sidebar_item">
  <%= link_to '動画',entries_path %>
  <br>
  <%= link_to '器具',entries_path %>
  <br>
  <%= link_to '器具',entries_path %>
  </div>
</div>

  <%= month_calendar do |date| %>
    <% if date.sunday? %>
      <span style="color: red;"><%= date.day %></span>
    <% elsif date.saturday? %>
      <span style="color: blue;"><%= date.day %></span>
    <% else %>
      <%= date.day %>
    <% end %>
  <% end %>
