<h1>カレンダー</h1>
<table>
<div>
  <%= link_to 'ホーム','top' %>
</div>

<div>
  <%= link_to '登録一覧',entries_path %>
</div>

<div>
  <%= link_to '設定',users_path %>
</div>
</table>

<div class="container">
  <div class="sidebar_l">
    <div class="sidebar_item">
    <%= link_to '動画',posts_path %>
    <br>
    <%= link_to '器具',entries_path %>
    <br>
    <%= link_to '器具',entries_path %>
    </div>
  </div>
  <main class="main">
    <%= month_calendar do |date| %>
      <% if date.sunday? %>
        <span style="color: red;"><%= date.day %></span>
      <% elsif date.saturday? %>
       <span style="color: blue;"><%= date.day %></span>
      <% else %>
       <%= date.day %>
      <% end %>
    <% end %>
  </main>
  <div class="sidebar">
    <div class="sidebar__item">
      <%= link_to '登録',entries_path %>
      <br>
      <%= link_to '体重管理グラフ','top' %>
    </div>
  </div>
</div>

