<h1>カレンダー</h1>

<div class="container">
  <div class="sidebar_l">
    <div class="sidebar__item">
      <ul class="sidenav">
        <li><%= '動画' %>
          <ul>
            <li><a href="筋トレ">筋トレ</a></li>
            <li><a href="ダイエット">ダイエット</a></li>
          </ul>
       </li>
        <li><%= '器具' %>
          <ul>
            <li><a href="筋トレ">筋トレ</a></li>
            <li><a href="ダイエット">ダイエット</a></li>
          </ul>
        </li>
        <li><%= '食べ物' %>
          <ul>
            <li><a href="筋トレ">筋トレ</a></li>
            <li><a href="ダイエット">ダイエット</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <main class="main">
    <%= month_calendar do |date| %>
      <% if date.sunday? %>
        <span style="color: red;"><%= date.day %></span>
      <% elsif date.saturday? %>
       <span style="color: blue;"><%= date.day %></span>
      <% else %>
       <%= date.day %>
      <% end %>
    <% end %>
  </main>
  <div class="sidebar">
    <div class="sidebar__item">
      <ul class="sidenav">
        <li><%= link_to '登録',entries_path %></li>
        <li><%= link_to '体重管理グラフ','top' %></li>
        <li><%= link_to '設定',users_path %></li>
      </ul>
    </div>
  </div>
</div>

