<h1>カレンダー</h1>

<div class="container">
  <div class="sidebar_l">
    <div class="sidebar__item">
      <ul class="sidenav">
        <li><%= '動画' %>
          <ul>
            <li><%= link_to '筋トレ',posts_path(m_type: 1) %></li>
            <li><%= link_to 'ダイエット',posts_path(m_type: 2) %></li>
          </ul>
        </li>
        <li><%= '食べ物' %>
          <ul>
            <li><%= link_to '筋トレ',foods_path(ff_type: 1) %></li>
            <li><%= link_to 'ダイエット',foods_path(ff_type: 2) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <main class="main">
    <%= month_calendar do |date| %>
      <% if date.sunday? %>
        <span style="color: red;"><%= date.day %></span>
      <% elsif date.saturday? %>
        <span style="color: blue;"><%= date.day %></span>
      <% else %>
        <%= date.day %>
      <% end %>
    <% end %>
  </main>
  <div class="sidebar">
    <div class="sidebar__item">
      <ul class="sidenav">
        <li><%= link_to '登録',new_entry_path %></li>
        <li><%= link_to '体重管理グラフ','top' %></li>
        <li><%= link_to '設定',users_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="memo">
  <% if @entry %>
    <ul class="memo_entry">
      <li><%= @entry.day %></li>
      <li>体重      :<%= @entry.weight %>kg</li>
      <li>身長      :<%= @entry.height %>cm</li>
      <li>運動種類  :<%= @entry.ex_type_1 %></li>
      <li>運動時間  :<%= @entry.ex_time_1 %></li>
      <li>カロリー  :<%= @entry.ex_amount_1 %></li>
      <li>運動種類  :<%= @entry.ex_type_2 %></li>
      <li>運動時間  :<%= @entry.ex_time_2 %></li>
      <li>カロリー  :<%= @entry.ex_amount_2 %></li>
      <li>運動種類  :<%= @entry.ex_type_3 %></li>
      <li>運動時間  :<%= @entry.ex_time_3 %></li>
      <li>カロリー  :<%= @entry.ex_amount_3 %></li>
      <li>食事 朝   :<% if (@entry.meal_asa == true) %>
                      〇
                    <% else %>
                      ✖
                    <% end %>
      </li>
      <li>食事 昼   :<% if (@entry.meal_hiru == true) %>
                      〇
                    <% else %>
                      ✖
                    <% end %>
      </li>
      <li>食事 晩   :<% if (@entry.meal_asa == true) %>
                      〇
                    <% else %>
                      ✖
                    <% end %>
      </li>
      <li>間食      :<% if (@entry.snack == true) %>
                      〇
                    <% else %>
                      ✖
                    <% end %>
      </li>
      <li>食べたもの :<%= @entry.snack_memo %></li>
      <li>体調       
        <% case @entry.condition %>
          <% when 0 then %>
            良い
          <% when 1 then %>
            普通
          <% else %>
            悪い
        <% end %>
      </li>
      <li>メモ      :<%= @entry.memo %></li>
    </ul>
  <% end %>
</div>