<h1>カレンダー</h1>
<table>
<div>
  <%= link_to 'ホーム','top' %>
</div>

<div>
  <%= link_to '登録一覧',entries_path %>
</div>

<div>
  <%= link_to '設定',users_path %>
</div>
</table>

  <%= month_calendar do |date| %>
    <% if date.sunday? %>
      <span style="color: red;"><%= date.day %></span>
    <% elsif date.saturday? %>
      <span style="color: blue;"><%= date.day %></span>
    <% else %>
      <%= date.day %>
    <% end %>
  <% end %>
