<h1>ヘルスケア</h1>

<%= @today %> (<%= @yobi %>)
<p>健康になろう！！</p>

<%= link_to '登録一覧',entries_path %>

<%= link_to '新規登録',users_path %>
<%= link_to '設定',users_path %>

<%= link_to 'カレンダー','calendar_index' %>

<%= line_chart @data, width: "600px", height: "300px" %>

<% if current_user == nil %>
  <%= link_to "ログイン", logins_login_path %>
<% else %>
  <%= link_to 'ログアウト', logins_login_path, :confirm => 'ログアウトしますか？', :method => :delete %>
<% end %>