<h1>ヘルスケア</h1>
<table>
<%= @today %> (<%= @yobi %>)
<p>健康になろう！！</p>
<%= @user_id %><a>さんこんにちは！！</a>

<div>
    <%= link_to '新規登録',new_user_path %>
</div>

<% if current_user == nil %>
  <%= link_to "ログイン", logins_login_path %>
<% else %>
  <%= link_to 'ログアウト', logins_logout_path, method: :post %>
<% end %>

<div>
  <%= link_to '設定',users_path %>
</div>

<nav>
<div align="center">
<ul>
   <li><%= link_to '月',home_top_path, period: "month" %></li>
   <li><%= link_to '週',home_top_path, period: "week" %></li>
   <li><%= link_to '3カ月',home_top_path, period: "3month" %></li>
   <li><%= link_to '6カ月',home_top_path, period: "6month" %></li>
  </ul>
</div>
</nav>

<div class="container">
  <div class="sidebar_l">
      <div class="sidebar_item">
      <%= link_to '動画',posts_path %>
      <br>
      <%= link_to '器具',entries_path %>
      <br>
      <%= link_to '食べ物',entries_path %>
      </div>
      <ul class="accordion-menu">
  <li>
    <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i> 動画
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="#">History book 1</a></li>
      <li><a href="#">History book 2</a></li>
      <li><a href="#">History book 3</a></li>
    </ul>
  </li>
  <li>
    <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i> 器具
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="#">Fiction book 1</a></li>
      <li><a href="#">Fiction book 2</a></li>
      <li><a href="#">Fiction book 3</a></li>
    </ul>
  </li>
  <li>
    <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i> 食べ物
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="#">Fantasy book 1</a></li>
      <li><a href="#">Fantasy book 2</a></li>
      <li><a href="#">Fantasy book 3</a></li>
    </ul>
  </li>
  <li>
    <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i> Action
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="#">Action book 1</a></li>
      <li><a href="#">Action book 2</a></li>
      <li><a href="#">Action book 3</a></li>
    </ul>
  </li>
</ul>
  </div>
  <main class="main">
    <div class="data" style="float: left">
      <%= line_chart @data, width: "800px", height: "400px" %>
    </div>
  </main>
  <div class="sidebar">
    <div class="sidebar__item">
    <%= link_to '登録',entries_path %>
    <br>
    <%= link_to 'カレンダー','calendar_index' %>
    </div>
  </div>
</div>
</table>


