<h1>ヘルスケア</h1>
<table>
<%= @today %> (<%= @yobi %>)
<p>健康になろう！！</p>

<div>
  <%= link_to '新規登録',users_path %>
</div>

<div>
  <%= link_to '設定',users_path %>
</div>

<div class="container">
<main class="main">
  <div class="data" style="float: left">
    <%= line_chart @data, width: "600px", height: "300px" %>
  </div>
</main>
  <div class="sidebar">
    <div class="sidebar__item">
    <%= link_to '登録',entries_path %>
    <br>
    <%= link_to 'カレンダー','calendar_index' %>
    </div>
  </div>


</table>

<% if current_user == nil %>
  <%= link_to "ログイン", logins_login_path %>
<% else %>
  <%= link_to 'ログアウト', logins_logout_path, method: :post %>
<% end %>

