<body>
<!-- Header Start -->
<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <a href="#" class="health_care">ヘルスケア</a>
    <nav class="nav">
      <button class="nav__toggle" aria-expanded="false" type="button">
        menu
      </button>
      <ul class="nav__wrapper">
        <li class="nav__item"><a href="http://localhost:3000/home/top">トップ</a></li>
        <li class="nav__item">
         <% if current_user == nil %>
            <%= link_to "ログイン", logins_login_path %>
            <%= link_to '新規登録',new_user_path %>
           <% else %>
            <%= link_to 'ログアウト', logins_logout_path, method: :post %>
          <% end %>
        </li>
        

        <li class="nav__item"><a href="http://localhost:3000/users">設定</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- Header End -->

</body>

<table>
<%= @today %> (<%= @yobi %>)
<%= @user_id %><a>さんこんにちは！！</a>
<%= @memo %>
<br>
<%= @entry_day %>
<div>
    <%= link_to '新規登録',new_user_path %>
</div>

<nav>
<div align="center">
<ul>
   <li><%= link_to '週',home_top_path(period: "week") %></li>
   <li><%= link_to '月',home_top_path(period: "month") %></li>
   <li><%= link_to '3カ月',home_top_path(period: "3month") %></li>
   <li><%= link_to '6カ月',home_top_path(period: "6month") %></li>
  </ul>
</div>
</nav>

<div class="container">
  <div class="sidebar_l">
      <div class="sidebar_item">
        <ul class="sidenav">
          <li><%= '動画' %>
            <ul>
              <li><%= link_to '筋トレ',posts_path(m_type: 1) %></li>
              <li><%= link_to 'ダイエット',posts_path(m_type: 2) %></li>
            </ul>
          </li>
          <li><%= '食べ物' %>
            <ul>
              <li><%= link_to '筋トレ',foods_path(ff_type: 1) %></li>
              <li><%= link_to 'ダイエット',foods_path(ff_type: 2) %></li>
            </ul>
          </li>
        </ul>
  </div>
  </div>
  <main class="main">
    <div class="data" style="float: left">
      <%= line_chart @data, width: "800px", height: "400px" %>
    </div>
  </main>
  <div class="sidebar">
    <div class="sidebar__item">
      <ul class="sidenav">
        <li><%= link_to '登録',new_entry_path %></li>
        <li><%= link_to '変更' ,entries_path %></li>
        <li><a href='calendar_index'>カレンダー</a></li>
      </ul>
    </div>
  </div>
</div>
</table>





