<body>
<!-- Header Start -->
<!-- Header End -->

</body>

<table>
<center><h1><%= @today %> (<%= @yobi %>)</h1></center>
<<<<<<< HEAD


=======
>>>>>>> dd42a572c11b640690866c2f857853fbfe7f1298

<nav class="period">
<div align="center">
<ul>
   <li><%= link_to '週',home_top_path(period: "week") %></li>
   <li><%= link_to '月',home_top_path(period: "month") %></li>
   <li><%= link_to '3カ月',home_top_path(period: "3month") %></li>
   <li><%= link_to '6カ月',home_top_path(period: "6month") %></li>
  </ul>
</div>
</nav>

<div class="container">
  <div class="sidebar_l">
      <div class="sidebar_item">
        <ul class="sidenav">
          <li><%= '動画' %>
            <ul>
              <li><%= link_to '筋トレ',posts_path(m_type: 1) %></li>
              <li><%= link_to 'ダイエット',posts_path(m_type: 2) %></li>
            </ul>
          </li>
          <li><%= '食べ物' %>
            <ul>
              <li><%= link_to '筋トレ',foods_path(ff_type: 1) %></li>
              <li><%= link_to 'ダイエット',foods_path(ff_type: 2) %></li>
            </ul>
          </li>
        </ul>
  </div>
  </div>
  <main class="main">
    <div class="data" style="float: left">
      <%= line_chart @data, width: "800px", height: "400px" %>
    </div>
  </main>
  <div class="sidebar">
    <div class="sidebar__item">
      <ul class="sidenav">
        <li><%= link_to '登録',new_entry_path %></li>
        <li><%= link_to '変更' ,entries_path %></li>
        <li><a href='calendar_index'>カレンダー</a></li>
      </ul>
    </div>
  </div>
</div>
</table>





