<h1>ヘルスケア</h1>
<table>
<%= @today %> (<%= @yobi %>)
<p>健康になろう！！</p>
<%= @user_id %><a>さんこんにちは！！</a>

<div>
    <%= link_to '新規登録',new_user_path %>
</div>

<% if current_user == nil %>
  <%= link_to "ログイン", logins_login_path %>
<% else %>
  <%= link_to 'ログアウト', logins_logout_path, method: :post %>
<% end %>

<div>
  <%= link_to '設定',users_path %>
</div>
<div align="center">
  <%= link_to '月',home_top_path, period: "month" %>
  <%= link_to '週',home_top_path, period: "week" %>
  <%= link_to '3か月',home_top_path, period: "3month" %>
  <%= link_to '半年',home_top_path, period: "6month" %>
</div>

<div class="container">
  <div class="sidebar_l">
      <div class="sidebar_item">
        <ul class="sidenav">
          <li><%= link_to '動画',posts_path %>
            <ul>
              <li><a href="筋トレ">筋トレ</a></li>
              <li><a href="ダイエット">ダイエット</a></li>
            </ul>
          </li>
          <li><%= link_to '器具','top' %>
            <ul>
              <li><a href="筋トレ">筋トレ</a></li>
              <li><a href="ダイエット">ダイエット</a></li>
            </ul>
          </li>
          <li><%= link_to '食べ物','top' %>
            <ul>
              <li><a href="筋トレ">筋トレ</a></li>
              <li><a href="ダイエット">ダイエット</a></li>
            </ul>
          </li>

        </ul>
  </div>
  </div>
  <main class="main">
    <div class="data" style="float: left">
      <%= line_chart @data, width: "800px", height: "400px" %>
    </div>
  </main>
  <div class="sidebar">
    <div class="sidebar__item">
      <ul class="sidenav">
        <li><%= link_to '登録',entries_path %></li>
        <li><a href=''>変更</a></li>
        <li><a href='calendar_index'>カレンダー</a></li>
      </ul>
    </div>
  </div>
</div>
</table>


