<h1>ヘルスケア</h1>

<%= @today %> (<%= @yobi %>)
<p>健康になろう！！</p>

<%= link_to '登録一覧',entries_path %>

<<<<<<< HEAD
<%= link_to '新規登録',users_path %>
=======
<%= link_to '設定',users_path %>

<%= link_to 'カレンダー','calendar_index' %>

>>>>>>> b18fd1a2423151d245d018e9382fde42b4cd4344
<%= line_chart @data, width: "600px", height: "300px" %>