<!DOCTYPE html>
<html>
  <head>
    <title>HealthCares</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <center><%= image_tag 'header.jpg', :width => '400', :height => '200' %></center>
    <div class="col-8">
      <%= yield %>
    </div>

  </body>
</html>
