<!DOCTYPE html>
<html>
  <head>
    <title>HealthCares</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="row">
    <div class="col-2">
      <%= render'layouts/application_sidebar' %>
    </div>
    <div class="col-8">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
  <div class="A">
  <%= link_to '新規登録',users_path %>
  <br>
  <%= link_to 'カレンダー','calendar_index' %>
  </div>
  </body>
</html>
